<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/aula</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">tads2016</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <!-- Mapeamento de tabelas -->
    <!-- <mapping class="ExemplosAula.hibernate.Person" />
    <mapping class="ExemplosAula.hibernate.Teacher" />
    <mapping class="ExemplosAula.hibernate.Products" />
    <mapping class="ExemplosAula.hibernate.Products" />
    <mapping class="ExemplosAula.hibernate.Loan" />
    <mapping class="ExemplosAula.hibernate.Provider" />
    <mapping class="ExemplosAula.hibernate.Institute" /> 
    <mapping class="ExemplosAula.hibernate.herancao.tabelaclasseconcreta.ClProfessor" />
    <mapping class="ExemplosAula.hibernate.herancao.tabelaclasseconcreta.ClAluno" />
    <mapping class="ExemplosAula.hibernate.herancao.tabelaclasseconcreta.ClPessoa" /> 
    <mapping class="ExemplosAula.hibernate.herancao.tabelaporhierarquia.ClAlunoh" />
    <mapping class="ExemplosAula.hibernate.herancao.tabelaporhierarquia.ClPessoah" />
    <mapping class="ExemplosAula.hibernate.herancao.tabelaporhierarquia.ClProfessorh" />-->
    <!-- Mapeamento do projeto -->
    <mapping class="com.tads4.sistemasroupas.model.Cliente"/>
    <mapping class="com.tads4.sistemasroupas.model.Email"/>
    <mapping class="com.tads4.sistemasroupas.model.Endereco"/>
    <mapping class="com.tads4.sistemasroupas.model.Fornecedor"/>
    <mapping class="com.tads4.sistemasroupas.model.Funcionario"/>
    <!--<mapping class="com.tads4.sistemasroupas.model.ItemVenda" />-->
    <mapping class="com.tads4.sistemasroupas.model.Pessoa"/>
    <!--<mapping class="com.tads4.sistemasroupas.model.Produto" />-->
    <mapping class="com.tads4.sistemasroupas.model.Telefone"/>
    <mapping class="com.tads4.sistemasroupas.model.Venda"/>
    <!--<mapping class="com.tads4.sistemasroupas.model.CTeste"/>-->
  </session-factory>
</hibernate-configuration>
